In [9]:
import pandas as pd

In [25]:
left = pd.DataFrame({'idx': ['i'+str(x) for x in range(3)],
                     'A': ['a'+str(x) for x in range(3)],
                     'B': ['b'+str(x) for x in range(3)]})


right = pd.DataFrame({'idx': ['i'+str(x) for x in range(1,4)],
                     'C': ['c'+str(x) for x in range(1,4)],
                     'D': ['d'+str(x) for x in range(1,4)]})

In [26]:
left

  idx   A   B
0  i0  a0  b0
1  i1  a1  b1
2  i2  a2  b2

In [27]:
right

  idx   C   D
0  i1  c1  d1
1  i2  c2  d2
2  i3  c3  d3

`join` is identical to `merge`. But when using join, we need to explicitly set the index column of the dataframes to join using `set_index`:

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html

In [28]:

left.set_index('idx', inplace=True)
right.set_index('idx', inplace=True)

result = left.join(right, how='inner')

print("Joined DataFrame:\n", result)

Joined DataFrame:
       A   B   C   D
idx
i1   a1  b1  c1  d1
i2   a2  b2  c2  d2

And you see, `join` disregards the row of `right` with the unmatching index `i3`. It retains the row of `left` with the unmatching index `i0` but uses `NaN` for the missing data after joining.

#### There are other options we can explore with the `merge()` and `join()` functions. 

Specifically, we can specify `how`. This argument in the function tells us whether we are performing an inner, left, right, or outer join.

We can also specify a different column for joining in the `merge()` function using the `left_on` and `right_on` arguments. Check out the following documentations if you want to explore more:

[pandas.DataFrame.merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html)

[pandas.DataFrame.join](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html)

## Bonus Question

Now if you look back on `merge` and `join`, you realize that in order to perform these functions on a set of dataframes, these dataframes must share a common column as the index. Only rows that have the same index values will be joined. This is similar to the [`join` function in MySQL](https://www.w3schools.com/sql/sql_join.asp), isn't it?

The bonus question for you is to figure out how to join and concatenate `df1`, `df2`, `df3`, and `df4` we created at the beginning of this challenge. Your end product should look like this:

![df1-2-3-4.png](../images/df1-2-3-4.png)

In [33]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2']},
                   index=[0, 1, 2])

df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
                    'B': ['B3', 'B4', 'B5']},
                   index=[3, 4, 5])

df3 = pd.DataFrame({'C': ['C0', 'C1', 'C2'],
                    'D': ['D0', 'D1', 'D2']},
                   index=[0, 1, 2])

df4 = pd.DataFrame({'C': ['C3', 'C4', 'C5'],
                    'D': ['D3', 'D4', 'D5']},
                   index=[3, 4, 5])

In [34]:
df1_2 = pd.concat([df1, df2])
print("Concatenated df1 and df2:\n", df1_2)

Concatenated df1 and df2:
     A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5

In [35]:
df3_4 = pd.concat([df3, df4])
print("Concatenated df3 and df4:\n", df3_4)

Concatenated df3 and df4:
     C   D
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3
4  C4  D4
5  C5  D5

In [36]:
result['E'] = ['E0', 'E1', 'E2', 'E3', 'E4', 'E5']
result['F'] = ['F0', 'F1', 'F2', 'F3', 'F4', 'F5']

columns E and F were not part of the original DataFrames, so now they are added

In [37]:
result = result[['A', 'B', 'C', 'D', 'E', 'F']]

reordered the columns to match the desired order: A, B, C, D, E, F

In [38]:
result.reset_index(drop=True, inplace=True)

to reset the index of the DataFrame to a default integer index (0, 1, 2, â€¦)

In [39]:
print("Final joined DataFrame:\n", result)

Final joined DataFrame:
     A   B   C   D   E   F
0  A0  B0  C0  D0  E0  F0
1  A1  B1  C1  D1  E1  F1
2  A2  B2  C2  D2  E2  F2
3  A3  B3  C3  D3  E3  F3
4  A4  B4  C4  D4  E4  F4
5  A5  B5  C5  D5  E5  F5

: